body {
    background-color: aliceblue;
    border-width: 2px;
    margin: 20px;
}

h1{
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
}

h2{
    font-size: medium;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

p{
    background-color: rgb(145, 212, 214);
    border-color: black;
    border: 4px;
    padding: 20px;
   
}

main {
    border-width: 5px;
}

ul {
    list-style: disc;
}

ol {
    list-style: lower-roman;
}

footer{
    padding: 40px;
    text-align: center;
}

